:root {
  --min-width: 37.5rem;
  --max-width: 144rem;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--light-gray);
  min-height: 100vh;
  font-family: var(--font);
}

.container {
  width: 100%;
  max-width: var(--min-width);
  border-radius: 2rem;
  box-shadow: 1.4px 1.4px 2.2px rgba(0, 0, 0, 0.014),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.02), 6.3px 6.3px 10px rgba(0, 0, 0, 0.025),
    11.2px 11.2px 17.9px rgba(0, 0, 0, 0.03),
    20.9px 20.9px 33.4px rgba(0, 0, 0, 0.036),
    50px 50px 80px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  background-color: var(--white);
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

:root {
  --min-width: 37.5rem;
  --max-width: 144rem;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--light-gray);
  min-height: 100vh;
  font-family: var(--font);
}

.container {
  width: 100%;
  max-width: var(--min-width);
  border-radius: 2rem;
  box-shadow: 1.4px 1.4px 2.2px rgba(0, 0, 0, 0.014),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.02), 6.3px 6.3px 10px rgba(0, 0, 0, 0.025),
    11.2px 11.2px 17.9px rgba(0, 0, 0, 0.03),
    20.9px 20.9px 33.4px rgba(0, 0, 0, 0.036),
    50px 50px 80px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  background-color: var(--white);
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

.p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}
